@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #393939;
}

h3.apptitle {
  /* font-family: "Rubik, Raleway" */
}
.appbar .apptitle::after {
  /* creates the full-width crossing line */
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
}

h1 {
  text-align: center;
  font-size: 40pt;
  font-weight: 300;
}

.Settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Auth .auth-heading {
  font-size: 2.1em;
}
.Auth .auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 50vh;
}

.Auth input {
  margin-top: 1.5em;
}
.Auth button {
  margin: 1.4em;
  width: 100px;
}
.Auth .error-text {
  padding-top: 1em;
  color: tomato;
  font-weight: 100;
  word-break: word-break;
  text-align: center;
}

.Auth .firebase-error {
  color: tomato;
}

.Auth .auth-link-ctn span {
  font-weight: 100;
}
.Auth .auth-link:hover {
  text-decoration: underline;
}
